__pycache__/
*.pyc
.ipynb_checkpoints/
altur-challenge-audio/
manifest.csv
outputs/plots/
outputs/X_enhanced*.npy
outputs/y_labels*.npy
outputs/ids_labels*.csv
outputs/modelo_final_audio_mono.pkl
.env